body {
  margin: 0;
  padding: 0;
  background-color: rgb(74, 119, 187);
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  background-color: rgb(74, 119, 187);
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  padding: 0.7rem;
}
input {
  border: none;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
}
button {
  font-size: 2rem;
  background-color: rgb(74, 119, 187);
  color: white;
  border: none;
  border-radius: 0.7rem;
  padding: 1rem;
}

.home {
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
}
.result {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.error {
  background-color: rgb(255, 0, 0, 0.7);
  padding: 0.7rem;
}

.btn:hover {
  background-color: rgb(21, 171, 171);
}

.bg {
  background-color: rgb(21, 81, 171);
  border-radius: 1rem;
  margin: 10rem;
}
