{% extends 'base.html' %} {% block title%}Forex Converter {% endblock %} {%
block content %}
<div class="bg">
  <div class="home">
    <h1>Forex Converter</h1>
  </div>
  <div class="home">
    <form action="/converter" method="post">
      <div class="home">
        <input
          type="text"
          placeholder="Currency A"
          name="currency_one"
          required
        />
        <input
          type="text"
          placeholder="Currency B"
          name="currency_two"
          required
        />
        <input type="text" name="amount" placeholder="Amount" required />
      </div>

      <div class="home">
        <button class="btn">Convert</button>
      </div>
    </form>
  </div>
</div>

{%endblock%}
